h1 
  font-size: 2.5em
  font-weight: 100
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h2
  font-weight: 100
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.btn-librato-marketing
  background-color: #0f80aa
  color: #fff !important
  border-top-left-radius: 8px
  border-top-right-radius: 0px
  border-bottom-right-radius: 8px
  border-bottom-left-radius: 0px
  text-align: center
  margin-right: 10px
  padding: 7px 20px !important
  margin-left: 15px
 
 
.btn-librato-marketing-yellow 
  background-color: #DCAF1B
  color: #fff !important
  border-top-left-radius: 8px
  border-top-right-radius: 0px
  border-bottom-right-radius: 8px
  border-bottom-left-radius: 0px
  text-align: center
  margin-right: 8px
  margin-left: 6px
  padding: 7px 20px !important

.btn-librato 
  background-color: #337AB7 !important
  background-color: #0f80aa !important
  color: #ffffff !important
  border: none

.btn-librato:hover 
  background-color: #2d6da3 !important
  background-color: #0d6e93 !important
  color: #ffffff

.small-footer
  font-size: 12px
  a
    color: #4A4A4A